* {
  box-sizing: border-box;
}

body {
  background: #f7f5e6;
}

header {
  padding: 10px 0;
  background: #52658f;
  color: #e8e8e8;
  text-align: center;
  border-bottom: 5px solid #333a56;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
}

header h1 {
  display: inline;
  margin-left: 15px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 3em;
  color: #e8e8e8;
}

.search-container {
  padding-top: 100px;
  padding-right: 30px;
  padding-left: 30px;
}

.search-area {
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.search-area h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #333a56;
  margin: 0;
  margin-bottom: 50px;
}

.search-area .brand {
  font-family: "Amatic SC", cursive;
  font-size: 22px;
  color: #333a56;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #333a56;
  width: 20%;
  margin-right: 10px;
  font-size: 26px;
  font-weight: bold;
  background: #f7f5e6;
  color: #52658f;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

input[type="text"]:focus {
  outline: none;
}

::placeholder {
  color: #52658f;
  font-size: 20px;
  font-weight: 300;
  opacity: 0.7;
}

button[type="submit"] {
  color: #e8e8e8 !important;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background: #52658f;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button[type="submit"]:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 1rem;
  justify-content: space-around;
}

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
  padding: 10px 16px;
  color: #333a56;
  background: linear-gradient(#fff, #e8e8e8);
  text-align: center;
  margin: 5px;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  padding: 20px 15px 25px 15px;
}

.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-container h2 {
  text-decoration: underline;
}

.card-container h3,
.card-container p {
  color: #52658f;
}

.card-container a {
  color: #333a56;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.card-container a:visited {
  color: #333a56;
}

.loading-image {
  width: 20px;
  height: 20px;
  margin: 200px auto;
  color: #52658f;
}

.error-msg {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #d8000c;
}
