body {
  background: #f7f5e6;
}

header {
  padding: 30px 0 30px 0;
  background: #52658f;
  color: #f5f5f5;
  text-align: center;
  border-bottom: 5px solid #333a56;
}

header h1 {
  display: inline;
  margin-left: 15px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 3em;
  color: #e8e8e8;
}

.search-area {
  text-align: center;
  margin: 15px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #333a56;
  width: 25%;
  margin-right: 10px;
  font-size: 26px;
  font-weight: bold;
  background: #f7f5e6;
  color: #52658f;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

input[type="text"]:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #52658f;
  opacity: 0.7; /* Firefox */
}

button[type="submit"] {
  display: inline-block;
  padding: 15px 25px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #333a56;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button[type="submit"]:hover {
  background-color: #151929;
}

button[type="submit"]:active {
  background-color: #151929;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 1rem;
  justify-content: space-around;
}

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.3s;
  padding: 10px 16px;
  color: #333a56;
  background: linear-gradient(#fff, #e8e8e8);
  text-align: center;
  margin: 5px;
  font-family: "Josefin Sans", sans-serif;
}

.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container h2 {
  text-decoration: underline;
}

.card-container h3,
p {
  color: #52658f;
}

a:link,
a:visited {
  background-color: #333a56;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

a:hover,
a:active {
  background-color: #151929;
}
